<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }} Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="img/about-me.png">
            <p style="margin-top: 30px;">This application uses <a href="https://darksky.net/dev">Dark Sky API</a> to get weather information and <a href="https://docs.mapbox.com/api/search/#geocoding">Mapbox's forward geocoding API</a> for location conversion.</p>
        </div>
        {{>footer}}
    </body>
</html>
